body{
    background-image: url("https://th.bing.com/th/id/R.c667394bf19d6d6cda919e4611afa97c?rik=YCF50O85zN0sIg&riu=http%3a%2f%2fhdqwalls.com%2fdownload%2f1%2f2017-blade-runner-2049-movie-4k-de-3840x2400.jpg&ehk=UjjVcbrNmX5e26tBHWmBYdnzFYXIXQSqnolF%2fvcoKJw%3d&risl=1&pid=ImgRaw&r=0");
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    color: rgb(0, 0, 0); /* Text color */
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100px;
    -webkit-text-stroke: 2px rgb(155, 11, 155); /* Stroke effect for WebKit browsers */
    text-shadow: 
      -2px -2px 0 #000,  
       2px -2px 0 #000,
      -2px  2px 0 #000,
       2px  2px 0 #000; /* Stroke effect using shadow for wider browser support */
}
body{
    color: rgb(0, 0, 0); /* Text color */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif,;
    font-size: 30px;
 
}



p {
    color: rgb(255, 255, 255); /* Text color */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif; /* More common, web-safe font */
    font-size: 20px; /* Standard font size for body text */
 
}
.header {
    overflow: hidden;
    background-color: rgb(119, 33, 122);
    /*padding: 20px 10px;*/
  }
  
  .header img{
    height: 50px;
    width: 50px;
  }
  
  
  /* Style the header links */
  .header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: rgba(20, 0, 107, 0.411);
    color: White;
  }
  
  .header a.active {
    background-color: rgb(35, 0, 80);
    color: white;
  }
  
  /* Float the link section to the right */
  .header-Right {
    float: right;
  }

  .footer{
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(92, 0, 104, 0.555);
    color: rgb(223, 223, 223);
    text-align: center;
  }
  #content{
    color: rgb(45, 0, 128);
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 75px;
  }